.box
  = form_for @network, :html => { :'data-type' => 'html', :'data-method' => 'put', :id => 'update_network_form', :class => "formtastic" } do |f|
    %fieldset.inputs
      %ol
        %li.text
          = f.label :name, t('.name')
          = f.text_field :name, :size => 20
        %li.text
          = f.label :conduit, t('.conduit')
          = f.select :conduit_id, options_from_collection_for_select(@conduits, "id", "name", @network.conduit.id)
        %li.text
          = f.fields_for :subnet do |ip|
            = f.label :subnet, t('.subnet')
            = ip.text_field  :cidr, :size => 15
        %li.text
          = f.label :ip_ranges, t('.ip_ranges')
          = f.fields_for :ip_ranges do |ip_range|
            %span
              = t('.ip_range_name')
              = ip_range.text_field :name, :size => 15
              = t('.ip_range_start_address')
              = ip_range.fields_for :start_address do |ip|
                = ip.text_field  :cidr, :size => 15
              = t('.ip_range_end_address')
              = ip_range.fields_for :end_address do |ip|
                = ip.text_field  :cidr, :size => 15
        %li.text
          = f.label :router, t('.router')
          %span
            = f.fields_for :router do |router|
              = t('.router_ip') 
              = router.fields_for :ip do |router_ip|
                = router_ip.text_field :cidr, :size => 15
              = t('.router_pref') 
              = router.text_field :pref, :size => 15
        %li.text
          = f.label :dhcp_enabled, t('.dhcp_enabled')
          = f.check_box :dhcp_enabled
    %fieldset.buttons
      %ol
        %li
          %input.button{:type => "submit", :name => "submit", :value => t('network.form.save')} 

-#        %li.text
-#             = f.label :allocated_ips, t('allocated_ips')
-#             = f.fields_for :allocated_ips do |ip|
-#                  = ip.text_field  :cidr, :size => 15 