%h1{:title=>@network.name}= "#{@network.name}".html_safe
-#(#{link_to t('edit'), edit_network_path(@network.id)}) - removed from link above
.column_50.first
  %dl
    = dl_item(t('.name'), @network.name, {:show_if_blank => true})
  %dl
    = dl_item(t('.conduit'), (@network.conduit.name unless @network.conduit.nil?), {:show_if_blank => true})
  %dl
    = dl_item(t('.subnet'), (@network.subnet.cidr unless @network.subnet.nil?), {:show_if_blank => true})
  %dl
    = dl_item(t('.allocated_ips'), @network.allocated_ips.inspect, {:show_if_blank => true})
       
.column_50.last
  %dl
    = dl_item(t('.router'), ("#{t('.router_ip')}: #{@network.router.ip.cidr}, #{t('.router_pref')}: #{@network.router.pref}" unless @network.router.nil?), {:show_if_blank => true})
  %dl
    = dl_item(t('.ip_ranges'), (render(:partial => 'ip_ranges') unless @network.ip_ranges.nil?), {:show_if_blank => true})
  %dl
    = dl_item(t('.dhcp_enabled'), @network.dhcp_enabled.to_s, {:show_if_blank => true})
  %dl
    = dl_item(t('.vlan_tag'), (@network.vlan.tag unless @network.vlan.nil?), {:show_if_blank => true})
    
.clear