%p{:style => 'float:right'}
  = t('.mode')+":"
  %strong= @mode
%h2= t('.title')

-if @active_mode != @mode
  %div= t '.not_active_mode'

%table.data.box
  %thead
    %tr
      %th= t('.node')
      %th= t('.model')
      -@conduits.each do |conduit|
        %th{:title=>conduit}= t '.conduit_'+conduit, :default=>conduit.humanize
  %tbody
    -if @nodes
      -@nodes.sort_by{ |handle, node| node[:alias]}.each do |handle, node|
        %tr
          %td{:title=>node[:description]}= link_to node[:alias], node_path(:name=>handle)
          -if node[:bus]
            %td{:title=>"#{t('.bus_order')}: #{node[:bus].join(', ')}"}= node[:model]
          -else
            %td{:title=>t('.default_bus_order')}= node[:model]
          - @conduits.each do |conduit|
            %td
              -if node[:conduits]
                - intf = node[:conduits][conduit]
                - if intf and intf["if_list"]
                  = t('.team_'+intf["team_mode"].to_s, :default=>'Team '+intf["team_mode"].to_s)+': ' if intf and intf["team_mode"]
                  = intf["if_list"].join(', ') if intf["if_list"]
    -else
      %tr
        %td{:colspan=>(3+@conduits.length)}
          = t('no_items')
  %tfoot
    %tr
      %td{:colspan=>(3+@conduits.length)}
