%td.text-center
  - if details[:nodes][port].nil?
    %p.col-lg-6.port
      = port

    %p.col-lg-6
      %span.led.unknown

    %p.node{ :title=>t(".no_connection") }
      = t(".nc")

    %p.mac{ :title=>t(".no_mac") }
      = t(".na")
  - else
    - node = details[:nodes][port][:handle]

    %p.col-lg-6.port
      = "#{port}-#{details[:nodes][port][:intf]}"

    %p.col-lg-6
      %span.led{ :id => node, :class => @nodes[node][:status], :title => t(@nodes[node][:status], :scope => "state") }

    %p.node
      %a{:href => "/nodes/#{node}"}
        = (@nodes[node][:alias] || t(".nc"))

    %p.mac
      = details[:nodes][port][:mac]
