.row
  .col-xs-12
    %h1.page-header
      = t(".title")

      .pull-right
        %span.badge
          = t(".mode", :mode => @mode)

- if @active_mode != @mode
  .alert.alert-danger
    = t(".not_active_mode")

.panel.panel-default
  - if @nodes.empty?
    .panel-body
      .alert.alert-danger.last
        = t("no_items")
  - else
    %table.table.table-hover
      %thead
        %tr
          %th
            = t('.node')
          %th
            = t('.model')
          - @conduits.each do |conduit|
            %th{ :title => conduit }
              = t('.conduit_#{conduit}', :default => conduit.humanize)

      %tbody
        - @nodes.sort_by{ |handle, node| node[:alias] }.each do |handle, node|
          %tr
            %td{ :title=>node[:description] }
              = link_to node[:alias], node_path(:name => handle)

            - if node[:bus]
              %td{ :title=> t('.bus_order', :order => node[:bus].join(', ')) }
                = node[:model]
            - else
              %td{ :title => t('.default_bus_order') }
                = node[:model]
            - @conduits.each do |conduit|
              %td
                - if node[:conduits]
                  - intf = node[:conduits][conduit]
                  - if intf and intf["if_list"]
                    - if intf["team_mode"]
                      = t('.team', :default => 'Team #{intf["team_mode"]} %{order}', :order => intf["if_list"].join(', '))
                    - else
                      = intf["if_list"].join(', ')
