.row
  .col-xs-12
    %h1.page-header
      = t(".title")

      - if params[:node]
        .btn-group.pull-right
          = link_to t(".all"), switch_path, :class => "btn btn-default"

.panel.panel-default
  - if @switches.empty?
    .panel-body
      .alert.alert-danger.last
        = t("error.no_nodes_found")
  - else
    - @switches.sort.each do |switch, details|
      .panel-heading
        %h2
          = piechart_for(details)
          = switch

      %table.table.table-bordered.switch-list
        %tbody
          %tr
            - (@port_start).step(@port_start + 22, 2) do |port|
              = render :partial => 'switch', :locals => { :switch => switch, :details => details, :port => port }
          %tr
            - (@port_start + 1).step(@port_start + 23, 2) do |port|
              = render :partial => 'switch', :locals => { :switch => switch, :details => details, :port => port }
          - if details[:max_port] > 24
            %tr
              - (@port_start + 24).step(details[:max_port] - 1, 2) do |port|
                = render :partial => 'switch', :locals => { :switch => switch, :details => details, :port => port }
            %tr
              - (@port_start + 25).step(details[:max_port], 2) do |port|
                = render :partial => 'switch', :locals => { :switch => switch, :details => details, :port => port }
