%h1= t('.title')

%table{:border=>1}
  %thead
    %tr
      %th= t '.nodes'
      - @vlans.sort.each do |vlan, vdetails|
        %th{:title=>vdetails['vlan']}= vlan
  %tbody
    - @nodes.sort.each do |node, ndetails|
      %tr
        %th{:title=>ndetails[:description]}
          = ndetails[:alias]
          - @vlans.sort.each do |vlan, vdetails|
            - if ndetails[:vlans].has_key? vlan
              %td{:title=>ndetails[:vlans][vlan][:address]}
                -if ndetails[:vlans][vlan][:active]
                  = t('.inuse')
                -else
                  = t('.not_inuse')
            -else
              %td= '-'
