.row
  .col-xs-12
    %h1.page-header
      = t(".title")

.panel.panel-default
  %table.table.table-hover
    %thead
      %tr
        %th.col-xs-2
          = t(".nodes")

        - @vlans.sort.each do |vlan, vlan_details|
          %th{ :title => vlan_details["vlan"] }
            = t(vlan, :scope => "network.vlan_names", :default => vlan.titlecase)

    %tbody
      - @nodes.sort.each do |node, node_details|
        %tr
          %td{ :title => node_details[:description] }
            = link_to node_details[:alias], node_path(node)

          - @vlans.sort.each do |vlan, vlan_details|
            - if node_details[:vlans].has_key? vlan
              %td{ :title => node_details[:vlans][vlan][:address] }
                - if node_details[:vlans][vlan][:active]
                  = t(".inuse")
                - else
                  = t(".not_inuse")
            - else
              %td
                &mdash;
