%h1= t('.title')

%table.data.vlan.box
  %thead
    %tr
      %th{ :style=>'width:10px' }
      %th= t '.nodes'
      - @vlans.sort.each do |vlan, vdetails|
        %th{:title=>vdetails['vlan']}= t vlan, :scope=>"network.vlan_names", :default=>vlan.titlecase
      %th{ :style=>'width:10px' }
  %tbody
    - @nodes.sort.each do |node, ndetails|
      %tr
        %td{:colspan=>2, :title=>ndetails[:description]}
          %a{:href => node_path(node)}
            = ndetails[:alias]
          - @vlans.sort.each do |vlan, vdetails|
            - if ndetails[:vlans].has_key? vlan
              %td{:title=>ndetails[:vlans][vlan][:address]}
                -if ndetails[:vlans][vlan][:active]
                  = t('.inuse')
                -else
                  = t('.not_inuse')
            -else
              %td= '-'
        %td{ :style=>'width:10px' }
