%h2.page-header= t('.title')
.page-header-bottom
%table.data.vlan.table.table-bordered
  %thead
    %tr

      %th= t '.nodes'
      - @vlans.sort.each do |vlan, vdetails|
        %th{:title=>vdetails['vlan']}= t vlan, :scope=>"network.vlan_names", :default=>vlan.titlecase

  %tbody
    - @nodes.sort.each do |node, ndetails|
      %tr
        %td{:title=>ndetails[:description]}
          %a{:href => node_path(node)}
            = ndetails[:alias]
          - @vlans.sort.each do |vlan, vdetails|
            - if ndetails[:vlans].has_key? vlan
              %td{:title=>ndetails[:vlans][vlan][:address]}
                -if ndetails[:vlans][vlan][:active]
                  = t('.inuse')
                -else
                  = t('.not_inuse')
            -else
              %td= '-'
